body{
    font-family: 'Roboto', sans-serif;
}

.background{
    background: #E9EAED;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.white{
    background: #ffffff;
    border-radius: .1em;
}

.lgscreen{display: block;}
.smscreen{display: none;}

.align{
    flex-direction: row;
    margin-top: .4em;
    margin-left: -.28em;
}

.align li{
    margin-left: .3em;
}

.btn{
    color: #fff;
    position: relative;
}

.btn-effect{
    background: #e3403a;
    border: .125em solid #da251f;
    box-shadow: 0em .125em 0 #d6251f, .125em .250em .375em #e02a24;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.btn-effect:hover{
    background: #e02c26;
    border: .125em solid rgba(0, 0, 0, .05);
    box-shadow: .125em .125em .250em rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -.125em -.125em 0 #c2211c;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.smallmenu{
    background-color: #3B5998;
    margin-top: .438em;
    border-radius: .1em;
}

.clic{
    color: #fff;
}

@media screen and (max-width: 1367px){
    .lgscreen{display: none;}
    .smscreen{display: block;}
}






