
.   navbar-nav{
    flex-direction: row;
}

.dropdown {
    padding-left: 75px;
}
.background{
    background-color: #E9EAED;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.white{
    background-color: #ffffff;
    border-radius: .1em;
}

.align{
    flex-direction: row;
}